.product__card {
  max-width: 200px;
  border: 1px solid #ddd;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif; /* Set font family */
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card img:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px; /* Adjust border radius for image */
  border-top-right-radius: 8px;
}

.card_addItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.card_addItem button {
  width: 30px;
  height: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card_addItem button:hover {
  background-color: #ddd;
}

.card_addItem button:disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.card_addItem span {
  font-size: 16px;
}

.meal_title {
  padding: 8px;
  background-color: #fff;
}

.meal_title p {
  text-align: center;
  margin: 0;
  font-size: 14px;
}
