.header {
  min-height: 50px;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.267);
  width: 100%;
  justify-content: center;
  background-color: #f8f9fa; /* Background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.header__subcontainer {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header_icon a {
  text-decoration: none;
  color: #212529; /* Text color */
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.header_icon a:hover {
  color: #007bff; /* Hover color */
}

.header__cart {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.product__count {
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
}

.header__cart a {
  text-decoration: none;
  color: #212529; /* Text color */
}

.header__cart a:hover {
  color: #007bff; /* Hover color */
}
