/* Container for the product cards */
.product__container {
  max-width: 1400px;
  margin: 0 auto 20px;
}

/* Subcontainer for the product cards */
.product__subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow for a lifted appearance */
  border-radius: 8px; /* Rounded corners for a softer look */
  overflow: hidden; /* Ensure box shadow doesn't bleed out */
}

/* Individual product card styling */
.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #80808033;
  background-color: #ffffff; /* Added background color for cards */
  padding: 20px; /* Increased padding for better spacing */
}

/* Styling for the card itself */
.card {
  flex: 1;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-top: none;
}

/* Link styles for product card */
.product__card a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 799px) {
  .product__container,
  .product__subcontainer {
    width: 90%;
    margin: 0 auto;
  }
}

.product__container {
  display: flex;
}

.product__subcontainer {
  flex: 1;
}

.side-panel {
  /* Your existing styles */
  width: 250px; /* Adjust as needed */
}
